*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.fixed-position {
  position: fixed;
}

img {
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1;
  margin: 0.5em 0;
}

h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 1;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
}

p {
  line-height: 1.65;
}

.container {
  padding: 2em 1.5em;
}

header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-content {
  margin-top: -1.5em;
  padding: 0 1.5em;
  border: 2px white solid;
}

header nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  width: 9em;
  z-index: 1;
}

header .nav-btns {
  background: #000;
  position: fixed;
  overflow: hidden;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
}

header .nav-btns a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

header .nav-btns-visible {
  width: 100%;
}

header .nav-toggle {
  background: none;
  border: none;
  z-index: 1;
  width: 2em;
  height: 2em;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

header .nav-toggle-close {
  background-image: url(../images/icon-close.svg);
}

main {
  text-align: center;
}

.interactive {
  padding: 4.3em 0 2.85em;
}

.interactive .interact__txt {
  padding: 0 2em;
}

.interactive .interact__txt h2 {
  margin: 1.4em 0 0.6em;
}

.creations {
  padding-bottom: 5em;
}

.creations h2 {
  margin-bottom: 1.55em;
}

.creations .gallery {
  padding-bottom: 1.3em;
}

.creations .gallery .item {
  padding-bottom: 1.2em;
  text-align: left;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.creations .gallery .item:hover h3 {
  color: black;
}

.creations .gallery .item:hover .overlay {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}

.creations .gallery picture {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.creations .gallery h3 {
  margin-left: 1em;
  grid-row: 1/-1;
  grid-column: 1/-1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  z-index: 2;
}

.creations .gallery .overlay {
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(80%, rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) 80%);
  margin-bottom: 5px;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.creations .see-all {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Alata", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 1px black solid;
  padding: 0.7em 3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.creations .see-all:hover {
  color: white;
  background: black;
}

footer {
  background: black;
  text-align: center;
  padding: 3.5em 0;
}

footer .logo {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

footer .footer-links {
  padding: 1.9em 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4em;
}

footer .footer-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.5em;
}

footer .copyright {
  color: dimgray;
}

.attribution {
  font-size: 11px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.attribution a {
  font-family: "Josefin Sans", sans-serif;
  color: #3e52a3;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
  .container {
    padding: 3em 5em;
  }
  header .nav-btns a {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 800px) {
  .container {
    padding: 3em 6em 0;
  }
  header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: 100%;
    height: 44vw;
  }
  header .header-content {
    width: 70%;
  }
  header .header-content h1 {
    font-size: 3rem;
  }
  header .nav-btns {
    position: relative;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    gap: 1.5em;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .nav-btns a {
    position: relative;
    text-transform: none;
    padding-left: 0;
    font-size: 0.8rem;
    font-weight: 400;
  }
  header .nav-btns a::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  header .nav-btns a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  header .nav-toggle {
    display: none;
  }
  header .header-content {
    margin-top: 0;
  }
  main {
    text-align: left;
  }
  .interactive {
    padding: 3em 0 0;
    position: relative;
  }
  .interactive img {
    width: 65%;
  }
  .interactive .interact__txt {
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    padding: 0 0 0 4em;
  }
  .interactive .interact__txt p {
    font-size: 0.78rem;
    margin-bottom: 0;
  }
  .creations {
    padding-top: 7em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    grid-auto-flow: dense;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .creations h2 {
    margin: 0;
    padding: 0;
  }
  .creations .gallery {
    padding-top: 3em;
    grid-column: span 2;
  }
  .creations .gallery .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .creations .gallery .item {
    padding-bottom: 0.8em;
  }
  .creations .see-all {
    font-size: 0.8rem;
  }
  footer {
    padding: 0 0 3em;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container .left .logo {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  footer .container .left .footer-links {
    padding: 1.5em 0 0;
  }
  footer .container .left .footer-links a {
    position: relative;
    padding-bottom: 0.5em;
  }
  footer .container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .container .right .social-icons {
    padding-bottom: 1em;
  }
  footer .container .right a {
    position: relative;
    padding-bottom: 0.5em;
  }
  footer .container a::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  footer .container .social-icons a::before {
    width: 25px;
    left: 0;
  }
  footer .container a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  .container {
    padding: 3em 7em 0;
  }
  header {
    background-size: 100%;
  }
  header .header-content {
    width: 58%;
  }
  header .header-content h1 {
    font-size: 3rem;
  }
  header .nav-btns {
    gap: 1em;
  }
  .interactive .interact__txt {
    width: 50%;
    padding: 1em 0 0 4em;
  }
  .interactive .interact__txt p {
    font-size: 0.72rem;
  }
}
/*# sourceMappingURL=style.css.map */