$alata: "Alata", sans-serif;
$jose: "Josefin Sans", sans-serif;

$dark-gray: hsl(0, 0%, 55%);
$v-dark-gray: hsl(0, 0%, 41%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $jose;
}

.fixed-position {
    position: fixed;
}

img {
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1;
    margin: 0.5em 0;
}

h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 200;
    line-height: 1;
}

h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1;
}

p {
    line-height: 1.65;
}

.container {
    padding: 2em 1.5em;
}

header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

    .container {
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        height: 100%;
    }

    .header-content {
        margin-top: -1.5em;
        padding: 0 1.5em;
        border: 2px white solid;
    }

    nav {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 9em;
        z-index: 1;
    }

    .nav-btns {
        background: #000;
        position: fixed;
        overflow: hidden;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2;

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding-left: 1.5em;
        }
    }

    .nav-btns-visible {
        width: 100%;
    }

    .nav-toggle {
        background: none;
        border: none;
        z-index: 1;
        width: 2em;
        height: 2em;
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .nav-toggle-close {
        background-image: url(../images/icon-close.svg);
    }
}

main {
    text-align: center;
}

.interactive {
    padding: 4.3em 0 2.85em;

    .interact__txt {
        padding: 0 2em;

        h2 {
            margin: 1.4em 0 0.6em;
        }
    }
}

.creations {
    padding-bottom: 5em;

    h2 {
        margin-bottom: 1.55em;
    }

    .gallery {
        padding-bottom: 1.3em;
        .item {
            padding-bottom: 1.2em;
            text-align: left;

            display: grid;
            overflow: hidden;
            grid-template-columns: 1;
            grid-template-rows: 1;
        }

        picture {
            grid-row: 1/-1;
            grid-column: 1/-1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            margin-left: 1em;
            grid-row: 1/-1;
            grid-column: 1/-1;
            align-self: end;
            justify-self: start;
            z-index: 2;
        }

        .overlay {
            z-index: 1;
            background-image: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0),
                rgba(0, 0, 0, 0.5) 80%
            );
            margin-bottom: 7px;

            grid-row: 1/-1;
            grid-column: 1/-1;
        }
    }

    .see-all {
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
        font-family: $alata;
        letter-spacing: 4px;
        text-transform: uppercase;

        border: 1px black solid;
        padding: 0.7em 3em;
    }
}

footer {
    background: black;
    text-align: center;
    padding: 3.5em 0;

    .logo {
        transform: scale(0.8);
    }

    .footer-links {
        padding: 1.9em 0 3em;

        display: flex;
        flex-direction: column;
        gap: 1.4em;
        a {
            color: white;
            text-decoration: none;
            font-weight: 400;
        }
    }

    .social-icons {
        display: flex;
        gap: 1em;
        justify-content: center;

        padding-bottom: 1.5em;
    }

    .copyright {
        color: $v-dark-gray;
    }
}

.attribution {
    font-size: 11px;
    font-family: $jose;
    text-align: center;
}

.attribution a {
    font-family: $jose;
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 22px;
        font-weight: 300;
    }

    .container {
        padding: 3em 7em 0;
    }

    header {
        background-image: url(../images/desktop/image-hero.jpg);
        background-size: 100%;
        height: 51vh;

        .header-content {
            width: 58%;

            h1 {
                font-size: 3rem;
            }
        }

        .nav-btns {
            position: relative;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: right;
            gap: 1.5em;
            width: 100%;
            height: fit-content;

            a {
                text-transform: none;
                padding-left: 0;
                font-size: 0.8rem;
                font-weight: 400;
            }
        }

        .nav-toggle {
            display: none;
        }

        .header-content {
            margin-top: 0;
        }
    }

    main {
        text-align: left;
    }

    .interactive {
        padding: 3em 0 0;
        position: relative;

        .interact__txt {
            background: white;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            padding: 1em 0 0 4em;

            p {
                font-size: 0.78rem;
                margin-bottom: 0;
            }
        }
    }

    .creations {
        padding-top: 7em;

        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 2;
        grid-auto-flow: dense;
        align-items: center;

        h2 {
            margin: 0;
            padding: 0;
        }

        .gallery {
            padding-top: 3em;
            grid-column: span 2;

            .row {
                display: flex;
                justify-content: space-between;
            }

            .item {
                padding-bottom: 0.8em;
            }
        }

        .see-all {
            font-size: 0.8rem;
        }
    }

    footer {
        padding: 0 0 3em;

        .container {
            display: flex;
            justify-content: space-between;

            .footer-links {
                display: flex;
                flex-direction: row;
            }

            .left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .logo {
                    transform: scale(1);
                }

                .footer-links {
                    padding: 1em 0 0;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}
